# Ignore Google Cloud credentials.
credentials*.json

# Ignore Terraform files.
.terraform*
*.tfstate*
*.tfplan*

# Ignore files related to Helm.
charts/**/charts
deploy/**/charts
secret*.yaml
**/Chart.lock
**/values.*.all.yaml

# Built binary files.
bin/

# Ignore cosign keys.
*.key
*.pub

# Ignore .env files.
.env*

# Ignore built firmware.
output/
